@media (max-width: 84em) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 65%;
  }
}

@media (max-width: 65em) {
  html {
    font-size: 62%;
  }
}

@media (max-width: 50em) {
  h1 {
    font-size: 2.1rem;
  }
  .btn {
    font-size: 1rem;
    padding: 1.8rem 2rem;
  }

  .guess {
    padding: 1.5rem;
    width: 12rem;
    font-size: 2.8rem;
    margin-bottom: 2.5rem;
  }
  .number {
    padding: 1.5rem 1.2rem;
    width: 8.8rem;
  }
  .right {
    font-size: 1.2rem;
    line-height: 3.2rem;
  }
}

@media (max-width: 43em) {
  h1 {
    font-size: 1.9rem;
  }
  .btn {
    padding: 1.6rem 1.3rem;
  }

  .again {
    top: 2.5rem;
    left: 4.5rem;
  }
  .main {
    gap: 3rem;
    padding: 8rem 2rem;
  }

  .guess {
    width: 11rem;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 33em) {
  h1 {
    font-size: 1.8rem;
  }

  .number {
    width: 8rem;
    margin-top: 2.1rem;
  }

  .main {
    gap: 0.5rem;
    padding: 2rem 1rem;
  }
  .left {
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .right {
    width: 18rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .btn {
    font-size: 1rem;
    padding: 1.4rem 1.5rem;
    border-radius: 2rem;
  }

  .guess {
    padding: 1.5rem;
    width: 10rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
  }

  .again {
    top: 2rem;
    left: 2.5rem;
  }
  .between {
    font-size: 0.6rem;
  }
}
