@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 85%;
}

body {
  font-family: "Press Start 2P", cursive, sans-serif;
  /* background-color: #1b657e; */
  background-image: linear-gradient(to right, #222, #1b657e);
  color: #eee;
}

header {
  height: 35vh;
  /* border-bottom: 10px solid #eee; */
  text-align: center;
  position: relative;
  margin-bottom: 3rem;
}

main {
  height: 65vh;
  display: flex;
  gap: 5rem;
  justify-content: center;
  padding: 8rem 2rem;
  /* justify-content: space-around;
  align-items: center; */
}

.left {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  width: 52rem;
  font-size: 1.5rem;
  line-height: 3.5rem;
}

h1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
  font-size: 2.5rem;
}

.between {
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.9rem;
}

.number {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  border: 0.5rem solid #eee;
  padding: 1.5rem 1.5rem;
  width: 10rem;
  color: #800000;
  background-color: #eee;
  border-radius: 50%;
  text-align: center;
  margin-top: 2rem;
}

.btn {
  font-family: inherit;
  font-size: 1.2rem;
  color: #1b657e;
  background-color: #eee;
  border: none;
  cursor: pointer;
  padding: 2rem 3rem;
  border-radius: 2rem;
}

.btn:hover {
  color: #1b657e;
}

.again {
  position: absolute;
  top: 4rem;
  left: 8rem;
}

.guess {
  color: #1b657e;
  padding: 2.5rem;
  border: none;
  font-family: inherit;
  text-align: center;
  width: 15rem;
  font-size: 3.5rem;
  display: block;
  margin-bottom: 2.5rem;
  border-radius: 2rem;
  color: #800000;
}

.message {
  margin-bottom: 2rem;
}
